*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    }
    body{
    font-family: montserrat;
    }
    nav{
    background: #0082e6;
    height: 80px;
    width: 100%;
    }
    label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    }
    nav ul{
    float: right;
    margin-right: 20px;
    }
    nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    }
    nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    }
    a.active,a.hover{
    background: #1b96ff;
    transition: .5s;
    
    }
    .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
    }
    #check{
    display: none;
    }
    @media  (max-width: 952px) {
      label.logo{
      font-size: 30px;
      padding-left: 50px;
    
      }
      nav ul li a{
      font-size: 16px;}
      }
     @media  (max-width: 858px) {  
      .checkbtn{
      display: block;
      }
      ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #2c3e50;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
      }
      nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
      }
       nav ul li a{
        font-size: 20px;
       }
       a:hover,a.active{
    background: none;
    color: #0082e6;
    
    }
    #check:checked ~ ul{
      left: 0;
    }
    }
    /*section{
    
    background: url("IT_Park.JPG") no-repeat fixed center;
    background-size: cover;
    height: calc(100vh - 80px);
    }*/
    
    section{
    width: 100%;
    background: #333;
    display: inline-block;
    height: 25vh;
    text-align: center;
    padding: 0;
    
    font-size: normal;
    color: #f1f1f1;
    /*font-weight: 700;
    text-decoration: underline;
    font-family: 'Raleway',sans-serif;*/
    }
    
    .footer{
    background: #666;width: 100%;
    box-sizing: border-box;
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    padding: 55px 50px;
    
    }
    .footer .footer-left,
    .footer .footer-center,
    .footer .footer-right{
    display: inline-block;
    vertical-align: top;
    }
    .footer h3{
    color: #fff;
    font-size: 36px;
    font-family: 'Raleway',sans-serif;
    font-weight: 400;
    margin: 0;
    }
    .footer h3 span{
    color: lightseagreen;
    }
    .footer .footer-links{
    color: #fff;
    margin: 20px 0 12px;
    padding: 0;
    }
    .footer .footer-links a{
    display: inline-block;
    line-height: 1.8;
    font-weight: 400;
    text-decoration: none;
    color: inherit;
    font-family: 'Raleway',sans-serif;
    margin-right: 8px;
    }
    .footer .footer-company{
    color: #222;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    font-family: 'Raleway',sans-serif;
    }
    .footer .footer-center{
    width: 35%;
    }
    .footer .footer-center i{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    text-align: center;
    line-height: 36px;
    margin: 10px 15px;
    vertical-align: middle;background: #33383b;
    font-size: 22px;
    }
    .footer .footer-center i.fa-envelope{
    font-size: 18px;
    line-height: 34px;
    
    }
    .footer .footer-center p{
    display: inline-block;
    color: #fff;
    font-weight: normal;
    vertical-align: middle;
    margin: 0;
        font-family: 'Raleway',sans-serif;
    }
    .footer .footer-center p a{
    color: lightseagreen;
    text-decoration: none;
    }
    .footer .footer-center p span{
    display: block;
    font-weight: normal;font-size: 14px;
    line-height: 2;
    }
    .footer .footer-links a:before{
    content: "|";
    font-weight: normal;
    font-size: 20px;
    color: #fff;
    display: inline-block;padding-right: 5px;
    left: 0;
    }
    .footer .footer-links .link1:before{
    content: none;
    }
    .footer .footer-right{
    width: 20%;
    }
    .footer .footer-company-about{
    line-height: 20px;
    color: #92999f;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    font-family: 'Raleway',sans-serif;
    }
    .footer .footer-company-about span{
    display: block;
    color: #fff;
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 20px;
    font-family: 'Raleway',sans-serif;
    }
    .footer .footer-social{
    margin-top: 20px;
    }
    .footer .footer-social a{
    display: inline-block;
    width: 36px;
    height: 36px;
    background: #33383b;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    color: #fff;
    margin-right: 3px;
    margin-bottom: 5px;
    }
    @media (max-width: 880px)
    {
    .footer{
    font-size: 14px;
    font-family: 'Raleway',sans-serif;
    }
    .footer .footer-left,
    .footer .footer-center,
    .footer .footer-right{
    display: inline-block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
    vertical-align: top;
    }
    .footer .footer-center{
    margin-left: 0;
    }
    }
    .even{
    margin:0;
    position: absolute;
    top:75%;
    left:50%;
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    }
    .eve{
     
      background-color:red;
      border-radius: 50%;
      border:2px solid black;
      color:white;
      padding:50px 50px;
      transition-duration:0.5s ;
      font-size: medium;
      cursor: pointer;
      display: inline-block;
      text-align: center;
      width: 50%;
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5),0 6px 20px 0 rgba(0, 0, 0, 0.20);
    }
    .eve:hover{
      background-color: turquoise;
      color:black;
    }
    .state{
      background-image: url("pexels-lumn-399161.jpg");
      display: none; 
        position: fixed; 
        z-index: 1; 
        left: 0;
        top: 0;
        width: 100%; 
        height: 100%; 
        overflow: auto; 
        padding-top: 50px;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .welcome{
    width: 100%;
    background: #333;
    display: inline-block;
    height: 50vh;
    text-align: center;
    padding: 50px;
    text-decoration: underline;
    font-size: 68px;
    color: #229c9c;
    font-weight: 700;
    font-family: 'Raleway',sans-serif;
    animation:text 2s 100;
    }
    @keyframes text{
      0%{
        color:#333;
        margin-bottom: -40px;
      }
      30%{
        letter-spacing: 8px;
        margin-bottom: -40px;
      }
      85%{
        letter-spacing: 5px;
        margin-bottom: -40px;
      }
    }    
    body {
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
        font-style: italic;
      }
      
      
      a.logo{
        float:left;
        display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    font-size: 20px;
    color: white;
    }
      .content{
        text-align:justify;
        position: relative;
        width: 400px;
        left:35%;
        border: 3px solid #4d373b;
        font-weight:500;
        font-size:large;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
        background-image: url(project_management-100536263-primary.idge.jpg);
        background-size: cover;
      }
      .register{
        text-align:center;
        position: relative;
        width: 400px;
        left:35%;
        border: 3px solid #4d373b;
        font-weight:500;
        font-size:large;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
        background-color: tan;
        animation: example 2s infinite alternate;
      }
      @keyframes example{
          0%   {background-color: rgb(175, 177, 62);}
          25%  {background-color: rgb(98, 197, 204);}
          50%  {background-color: rgb(70, 204, 76);}
          100% {background-color: rgb(219, 117, 189);
      }
      }
      .csea{
        color:  #321640;
        text-align: center;
        font-size: 40px;
      
      }
       .register a:link {
          color:palegreen;
        }
       .register a:visited {
          color: green;
        }
        .register a:hover {
          color: rgb(255, 128, 105);
        }
        .register a:active {
          color: blue;
        }
      .cse{
        color:  1px solid black;
        font-size: 17px;
        text-align: left; 
        background-position:  left top;
        background-repeat: no-repeat, repeat;
        padding: 15px;
        background-attachment: fixed;
        background-size: cover;
        font-size: 20px;
        color:maroon ;
      }
       img{
        position: relative;
       margin-right: 5px;
        width:25%;
        height:35%;
        left:100px;
        max-width:100%;
      } 
      h3{
        font-family: inherit;
        color: red;
        font-size: 30px;
      }
      
      body{ 
        background-repeat: no-repeat;
        background-attachment: fixed;  
        background-size: cover;
       
      background-image: url("kelli-tungay-2LJ4rqK2qfU-unsplash.jpg");
      }
      .about body{
        background-image: url("pexels-lumn-399161.jpg");
      }
      /*.heroimage{
         position: absolute;
          top:100px;
          color: red;
          font-size: 60px;
          margin : 20px;
          background-color: chartreuse;
          position: relative;
      } */
      .csea body {
           padding:0;
          margin:100px;
          overflow:visible;
        height:100%;
       
      }
      canvas {
          padding:0;
          margin:0;
      }
      div.btnbg {
          position:fixed;
          left:0;
          top:0;
      }
      .back-image{
        background-image: url();
      }
     
      
       .container {
          max-width:400px;
          width:100%;
          margin:0 auto;
        position:relative;
      } 
      
      #contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }
      
      
      #contact h3 {
          color: rgb(214, 72, 54);
          display: block;
          font-size: 30px;
          font-weight: 400;
      }
      
      #contact h4 {
          margin:5px 0 15px;
          display:block;
          font-size:13px;
      }
      
      fieldset {
          border: medium none !important;
          margin: 0 0 10px;
          min-width: 100%;
          padding: 0;
          width: 100%;
      }
      
      #contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
          width:100%;
          border:1px solid #CCC;
          background:#FFF;
          margin:0 0 5px;
          padding:10px;
      }
      
      #contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
          -webkit-transition:border-color 0.3s ease-in-out;
          -moz-transition:border-color 0.3s ease-in-out;
          transition:border-color 0.3s ease-in-out;
          border:1px solid #AAA;
      }
      
      #contact textarea {
          height:100px;
          max-width:100%;
        resize:none;
      }
      
      #contact button[type="submit"] {
          cursor:pointer;
          width:100%;
          border:none;
          background:#0CF;
          color:#FFF;
          margin:0 0 5px;
          padding:10px;
          font-size:15px;
      }
      
      #contact button[type="submit"]:hover {
          background:#09C;
          -webkit-transition:background 0.3s ease-in-out;
          -moz-transition:background 0.3s ease-in-out;
          transition:background-color 0.3s ease-in-out;
      }
      
      #contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }
      
      #contact input:focus, #contact textarea:focus {
          outline:0;
          border:1px solid #999;
      }
     
      input[type=text], input[type=password] {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        display: inline-block;
        border: none;
        background: #f1f1f1;
      }
      
      /* Add a background color when the inputs get focus */
      input[type=text]:focus, input[type=password]:focus {
        background-color: #ddd;
        outline: none;
      }
      
      /* Set a style for all buttons */
      button {
        background-color:#817f7f;
        color: black;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        opacity: 0.9;
      }
      
      button:hover {
        opacity:0.5;
      }
      
      /* Extra styles for the cancel button */
      .cancelbtn {
        padding: 14px 20px;
        background-color: #f44336;
      }
      
      /* Float cancel and signup buttons and add an equal width */
      .cancelbtn, .signupbtn {
        float: left;
        width: 50%;
        background-color:midnightblue;
        border: black;
        border-spacing: 2px;
      }
      
      /* Add padding to container elements */
      .container {
        padding: 16px;
      }
      
      /* The Modal (background) */
      .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: #f0f2f7;
        padding-top: 50px;
      }
      
      /* Modal Content/Box */
      .modal-content {
        background-image:linear-gradient(to right, rgba(247, 246, 252, 0), rgb(128, 197, 243));
         margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
        border: 1px solid white; 
        width: 80%; /* Could be more or less, depending on screen size */
      }
      
      /* Style the horizontal ruler */
      hr {
        border: 1px solid #f1f1f1;
        margin-bottom: 25px;
      }
       
      /* The Close Button (x) */
      .close {
        position: absolute;
        right: 35px;
        top: 15px;
        font-size: 40px;
        font-weight: bold;
        color: #aa2a2a;
      }
      
      .close:hover,
      .close:focus {
        color: #f44336;
        cursor: pointer;
      }
      
      /* Clear floats */
      .clearfix::after {
        content: "";
        clear: both;
        display: table;
      }
      
      /* Change styles for cancel button and signup button on extra small screens */
      @media screen and (max-width: 300px) {
        .cancelbtn, .signupbtn {
           width: 100%;
        }
      }
      input[type=text], input[type=password] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
      }
      /* Center the image and position the close button */
      .imgcontainer {
        text-align: center;
        margin: 24px 0 12px 0;
        position: relative;
      }
      
      img.avatar {
        width: 20%;
        border-radius: 25%;
      }
      
      .container {
        padding: 16px;
      }
      
      span.psw {
        float: right;
        padding-top: 16px;
      }
      
      /* The Close Button (x) */
      .close {
        position: absolute;
        right: 25px;
        top: 0;
        color: #000;
        font-size: 35px;
        font-weight: bold;
      }
      
      .close:hover,
      .close:focus {
        color: red;
        cursor: pointer;
      }
      
      /* Add Zoom Animation */
      .animate {
        -webkit-animation: animatezoom 0.6s;
        animation: animatezoom 0.6s
      }
      
      @-webkit-keyframes animatezoom {
        from {-webkit-transform: scale(0)} 
        to {-webkit-transform: scale(1)}
      }
        
      @keyframes animatezoom {
        from {transform: scale(0)} 
        to {transform: scale(1)}
      }
      
      /* Change styles for span and cancel button on extra small screens */
      @media screen and (max-width: 300px) {
        span.psw {
           display: block;
           float: none;
        }
        .cancelbtn {
           width: 100%;
        }
      }